.new-todo{
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 5px 5px rgb(91, 91, 165), 7px 7px rgb(145, 48, 48), 9px 9px rgb(74, 141, 74) 
}

.inputField-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    /* text-align: left; */
} 


.new-todo_actions button{
    font: inherit;
    cursor:pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #8117b3;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}

.new-todo_actions button:hover,
.new-todo_actions button:active{
    background-color: #9c1bd8;
    border-color: #510674;
}

.new-todo_actions button.alternative:hover,
.new-todo_actions button.alternative:hover{
    background-color: #ddb3f8;
}



.inputField label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.inputField input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.new-expense_actions{
    text-align: right;
} 